<a href="https://colab.research.google.com/github/wassilva/Ca_David/blob/main/Washington_AI_CA2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import statistics as sts
import timeit
from timeit import Timer

In [ ]:
data = pd.read_csv("https://raw.githubusercontent.com/wassilva/Ca_David/main/Fig1.csv")

In [ ]:
#dataset
data.head(14)

   Point 1 Point 2  Distance
0        A       B         5
1        A       C         3
2        B       C         2
3        C       D         7
4        D       A         2
5        B       G         1
6        B       E         3
7        G       E         1
8        C       E         7
9        E       D         2
10       E       F         1
11       D       F         6